VITE_FIREBASE_API_KEY=xxx
VITE_FIREBASE_AUTH_DOMAIN=parade-of-elements.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=parade-of-elements
VITE_FIREBASE_STORAGE_BUCKET=parade-of-elements.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=xxx
VITE_FIREBASE_APP_ID=xxx